body{
    font-family: Arial, Helvetica, sans-serif;
}

ul{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.taskCurrent{
    list-style: square;
}

.taskFinished{
    list-style: square inside;
}